.expense-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.expense-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.expenseButton {
  background-color: blueviolet;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}
.expenseButton:hover {
  background-color: rgb(70, 12, 125);
}
